.shape-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.home-shape {
	position: absolute;
	overflow: hidden;
	opacity: 0;
	border-radius: 50%;
	cursor: pointer;
	z-index: 500;
}

.home-shape .shape-hit-area {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: rgba(5, 5, 5, 0);
}

.home-shape .shape-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.home-shape .shape-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	z-index: 5;
	opacity: 0.1;
}

.home-shape .shape-title {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
  z-index: 10;
	display: none;
}

.home-shape h1, .home-shape h2, .home-shape h3, .home-shape h4 {
	padding: 0;
	margin: 0;
	border: 0;
}

.home-shape img {
	display: none;
}

.home-shape a {
	white-space: nowrap;
	color: white;
	font-size: 30px;
}

.home-shape h2 {
	display: none;
}

.home-shape p {
	display: none;
}

.home-shape .shape-color {
	display: none;
}

.home-shape .shape-size {
	display: none;
}

.home-shape .shape-body-summary {
	display: none;
}

.home-shape .shape-content-subtitle {
	display: none;
}

.home-shape .shape-content-gallery {
	display: none;
}

.home-shape .shape-tools {
	display: none;
}

.main-shape-summary {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5%;
	font-size: 4rem;
	color: white;
	background-color: rgba(42, 42, 150, 0.6);
	z-index: 400;
}

.main-shape-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: fixed;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.2px;
	color: white;
	background-color: rgba(42, 42, 150, 0.6);
	z-index: 600;
}

.main-shape-content .shape-content-titles {
	position: absolute;
	top: 55px;
	right: 0;
	margin: 0;
	padding: 40px;
	border: 0;
	background-image: linear-gradient(42deg, rgba(60, 18, 121, 0.5), rgba(8, 151, 198, 0.4));
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: -5px 5px 40px rgba(28, 0, 54, 0.5);
	overflow: hidden;
	text-align: right;
}

.main-shape-content .shape-content-title-full {
	font-size: 40px;
	margin-bottom: 15px;
}

.main-shape-content .shape-content-subtitle-full {
	font-size: 20px;
}

.main-shape-content .shape-content-image-full {
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
	width: 50%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}

.main-shape-content .shape-content-container {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	padding: 50px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.shape-content-gallery-full {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin-top: 50px;
	margin-right: -10px;
	margin-bottom: -10px;
	overflow: hidden;
}

.shape-content-gallery-full li {
	flex: 1;
	min-width: 25%;
	vertical-align: top;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 500%;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
}

.main-shape-content .main-carousel {
	display: none;
	margin-top: 50px;
	margin-bottom: 20px;
}

.main-shape-content .carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.main-shape-content .carousel-cell img {
  display: block;
  height: 300px;
}

.shape-content-gallery-full li:not(:last-child) {

}

.shape-content-gallery-full li img {

}

.fullscreen-image {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10000;
	cursor: pointer;
	border: 20px solid rgb(250, 34, 112);
}

.mobile-close-button {
	position: fixed;
	top: 22px;
	left: 20px;
	width: 80px;
	height: 80px;
	background-image: url(../img/close.svg);
	opacity: 0.9;
	display: none;
	cursor: pointer;
	z-index: 20000;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.fullscreen-image .close-button {
	position: fixed;
	top: 22px;
	right: 20px;
	width: 80px;
	height: 80px;
	background-image: url(../img/close.svg);
	opacity: 0.9;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.shape-content-tools-full {
	padding: 0;
	margin-top: 50px;
	list-style-type: none;
}

.shape-content-tools-full li {
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	background-color: rgba(233, 36, 113, 0.57);
	margin-right: 10px;
	margin-bottom: 10px;
}

.main-shape-content .close-button {
	position: fixed;
	top: 50%;
	right: 40px;
	width: 50px;
	height: 50px;
	background-image: url(../img/close.svg);
	opacity: 0;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.color-shape {
	position: absolute;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
}

/*content full links style*/

.shape-content-body-full a {
	color: rgb(255, 210, 234);
	cursor: pointer;
}

.shape-content-body-full a:link {
	color: rgb(255, 210, 234);
}

.shape-content-body-full a:hover {
	color: rgb(45, 0, 91);
	text-decoration: none;
}

.shape-content-body-full a:active {
	color: rgb(255, 210, 234);
}

@media (max-width: 948px) {
	.main-shape-content .shape-content-body-full {
		width: 100%;
		font-size: 16px;
	}

	.main-shape-content .right-column {
		flex: 0;
		width: 0%;
		display: none;
	}
}

@media (max-width: 767px) {
	.mobile-close-button {
		display: block;
		top: 21px;
		right: 20px;
		width: 50px;
		height: 50px;
	}

	.main-shape-content {
		overflow: scroll;
	}

	.main-shape-content .shape-content-titles {
		position: absolute;
		bottom: 0;
		top: auto;
		left: 0;
		margin: 0;
		padding: 20px;
		border: 0;
		background-image: none;
		box-shadow: none;
		overflow: hidden;
		text-align: left;
	}

	.main-shape-content .shape-content-title-full {
		font-size: 30px;
	}

	.main-shape-content .shape-content-subtitle-full {
		font-size: 18px;
	}

	.main-shape-content .shape-content-image-full {
		position: relative;
		max-height: 300px;
		background-size: cover;
		background-position: center;
		width: 100%;
	}

	.main-shape-content .shape-content-container {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 20px;
		height: auto;
		overflow-y: visible;
		overflow-x: visible;
	}

	.main-shape-content .close-button {
		position: fixed;
		top: 22px;
		left: 20px;
		display: none;
	}

	.main-shape-summary {
		font-size: 3rem;
	}

	.main-shape-content .main-carousel {
		display: block;
	}

	.shape-content-gallery-full {
		display: none;
	}

	.shape-content-gallery-full li {
		height: 100px;
	}

	.fullscreen-image .close-button {
		top: 21px;
		right: 20px;
		width: 50px;
		height: 50px;
	}

	.fullscreen-image {
		border: 10px solid rgb(250, 34, 112);
	}
}

@media (max-width: 420px) {
	.main-shape-summary {
		font-size: 2rem;
	}
}
