body, html {
	height: 100%;
}

body {
	background-image: url(../img/nebula_stars.png), linear-gradient(320deg, #f5eb66, #ec0659 70%, #1d0333 99%);
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	margin: 0 !important;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

.page-header {
	display: none;
}

.page {
	margin-bottom: 50px;
}

h3 {
  margin-bottom: 10px;
}

/*form styles*/

form {
	margin-bottom: 50px;
}

.form-control {
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0);
	background-image: linear-gradient(42deg, rgba(117, 115, 115, 0.5), rgba(198, 3, 100, 0));
	color: rgb(232, 232, 232);
	border: 0;
	outline: none;
}

label {
	width: 100%;
	padding: 10px;
	background-image: linear-gradient(42deg, rgba(69, 69, 69, 0.5), rgba(198, 3, 100, 0));
	border-top-left-radius: 10px;
	font-size: 10px;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.form-control textarea {
	background-color: transparent;
}

@media(max-width: 767px) {
	body {
		margin: 0 !important;
	}
}
