/* external css: flickity.css */

* { box-sizing: border-box; }


.carousel {
  background: transparent;
  display: none;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.carousel-cell {
  margin-right: 20px;
  counter-increment: carousel-cell;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}
